@model WebAppClient.ViewModels.TicketsVM

@{
    ViewData["Title"] = "Index";
}


@functions
{
    enum populairKeys
    {
        Password,
        Computer,
        Phone,
        App,
        Printer,
        Scanner
    }
}


<div class="container">
    <div class="row">
        <h2 class="col-lg-8">All Tickets</h2>
        @using (Html.BeginForm("Index", "Ticket", FormMethod.Post))
        {
            <button style="margin-top:2em" type="submit" class="btn-primary btn-sm col-lg-4" value="submit" name="submitArchive">Archive Tickets</button>
        }
    </div>

    <p>
        @Html.ActionLink("Add New Ticket", "Create")
    </p>

    @using (Html.BeginForm())
    {
        @Html.TextBoxFor(x => x.TextSearch, new { placeholder = "Search by subject", required = "required" })
        @Html.ValidationMessageFor(x => x.TextSearch)
        <button style="margin-bottom: 1em" class="btn-primary btn-sm" type="submit">Search</button>
    }

    @using (Html.BeginForm("Index", "Ticket", FormMethod.Post))
    {
        <button style="margin-bottom: 1em" class="btn-primary btn-sm" type="submit" value="submit" name="submitSearch">Sort</button>
    }

    @using (Html.BeginForm("Index", "Ticket", FormMethod.Post))
    {
        @Html.DropDownListFor(model => model.FilterKeyword, new SelectList(Enum.GetValues(typeof(populairKeys))), new { htmlAttributes = new { @class = "form-control", style="margin-right:3em" } })
        <button style="margin-bottom: 1em; margin-left: 1em;" type="submit" class="btn-primary btn-sm" value="submit" name="submitFilter">Filter Keyword</button>
    }
</div>


<table class="table">
    <thead>
        <tr>

            <th>
                <p>Id</p>
            </th>
            <th>
                <p>Date</p>
            </th>
            <th>
                <p>Subject</p>
            </th>
            <th>
                <p>User</p>
            </th>
            <th>
                <p>Priority</p>
            </th>
            <th>
                <p>Status</p>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.lstTickets.OrderByDescending(x => x.DateTime))
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            <td>
                @Html.DisplayFor(modelItem => item.NameOfUser)
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            <td>
                @if(Model.Login == "Employee")
                {
                    @Html.ActionLink("Edit", "Edit", new { Id = item.Id })
                }
                else
                {
                    @Html.ActionLink("Edit |", "Edit", new { Id = item.Id }) 
                    @Html.ActionLink(" Delete", "Delete", new { Id = item.Id });
                }
            </td>
        </tr>
        }
    </tbody>

</table>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
