@model WebAppClient.ViewModels.UserVM

<!DOCTYPE html>
@{
    ViewData["Title"] = "Index";
}

@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>

@using (Html.BeginForm())
{
    <div class="container">

        <div class="row">
            <h1 style="margin-left:0.75em">Login</h1>
            <div class="col-lg-1">
                @Html.LabelFor(m => m.EmailAdress, new { @class = "col-md-2" })
            </div>
            <div class="col-lg-1">
                @Html.TextBoxFor(model => model.EmailAdress, new { placeholder = "Email", required = "required" })
                @Html.ValidationMessageFor(model => model.EmailAdress)
            </div>
               
        </div>

        <div class="row" style="margin-top:1em;">
            <div class="col-lg-1">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2" })
            </div>
            <div class="col-lg-1">
                @Html.PasswordFor(m => m.Password, new { placeholder = "Password", required = "required" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="col-lg-1-12" style="margin-top:1em;margin-left:1em;">
            <div>
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
    </div>
}
